<div class="container">
	<div class="row">
		<div class="col-md-12 currencies_heading">
			<h1>Current currency rates</h1>
		</div>
	</div>


	<!-- Main screen loader | loading.io/css -->
	<div class="row" *ngIf="!isCurrencyEvalLoaded">
		<app-loader></app-loader>
	</div>


	<!-- Base currency container -->
	<div class="row" *ngIf="isCurrencyEvalLoaded">
		<div class="col-xs-12">
			<form [formGroup]="currencyEvalForm">
				<div class="form-group">
					<div class="selected_currency_container">
						<label for="selectedCurrency">
							Select a Currency:
						</label>

						<select class="selected_currency_element form-control" name="selectedCurrency"
							id="selectedCurrency" formControlName="selectedCurrency" (change)="onRefreshExchangeRates()">
							<option *ngFor="let symbol of symbolsData" [value]="symbol.code">{{ symbol.code }}
							</option>
						</select>
					</div>
				</div>
			</form>
		</div>
	</div>


	<!-- Latest exchange rates - conversion table -->
	<div class="row" *ngIf="latestRates && latestRates.length > 0">
		<div class="col-xs-12">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Sr. No.</th>
						<th>Currency Code</th>
						<th>Exchange Rate</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let item of latestRates; let i=index;">
						<td>{{ i + 1 }}</td>
						<td>{{ item.currency }}</td>
						<td>{{ item.rate }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</div>
