<div class="container">
	<div class="row">
		<div class="col-md-12 home_heading">
			<h1>Hello, There!</h1>
			<h4>Welcome to the currency conversion portal.</h4>
		</div>
	</div>


	<!-- Main screen loader | loading.io/css -->
	<div class="row" *ngIf="!isInitialDataLoaded">
		<div class="col-xs-12 loader_container">
			<div class="lds-grid">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
		</div>
	</div>


	<div class="row home_main_content" *ngIf="isInitialDataLoaded">
		<div class="col-sm-12 col-md-offset-3 col-md-6">
			<div class="home_conversion_card">

				<div class="conversion_result">
					<div class="conversion_from">
						{{ getCurrencyValue('base') }} {{ getCurrencyDesc('base') }} equals
					</div>

					<div class="conversion_to">
						{{ getCurrencyValue('target') }} {{ getCurrencyDesc('target') }}
					</div>
				</div>


				<form class="conversion_form" [formGroup]="conversionForm">

					<!-- Currency to be converted from -->
					<div class="row">
						<div class="conversion_desc">
							Convert From
						</div>

						<div class="col-xs-5">
							<div class="form-group">
								<input type="number" class="form-control" formControlName="baseCurrencyVal" (input)="onCurrencyUpdate()">
							</div>
						</div>

						<div class="col-xs-7">
							<div class="form-group">
								<select class="form-control" formControlName="baseCurrency"
									(change)="onChangeBaseCurrency()">
									<option *ngFor="let symbol of symbolsData" [value]="symbol.code">{{ symbol.desc }}
									</option>
								</select>
							</div>
						</div>
					</div>


					<!-- Currency to be converted to -->
					<div class="row">
						<div class="conversion_desc">
							Convert To
						</div>

						<div class="col-xs-5">
							<div class="form-group">
								<input type="number" class="form-control" formControlName="targetCurrencyVal">
							</div>
						</div>

						<div class="col-xs-7">
							<div class="form-group">
								<select class="form-control" formControlName="targetCurrency"
									(change)="onChangeBaseCurrency()">
									<option *ngFor="let symbol of symbolsData" [value]="symbol.code">{{ symbol.desc }}
									</option>
								</select>
							</div>
						</div>
					</div>
				</form>

			</div>
		</div>
	</div>
</div>
